<nav class="navbar navbar-expand-lg" id="navbar-about-us"> 
    <a class="navbar-brand" style="font-size:20px;margin-left:5px;" routerLink="/home">KEKE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/search-component">Search Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/count-calories" >Count Calories</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/about-us" >About us</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container" id="about-us-container">
      <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8" id="team-div">
            <h2>TEAM</h2>
            <ul class="list-group list-group-flush">
                
              <li class="list-group-item">Abdalwahab Almajed</li>
              <li class="list-group-item">Afifa Khan</li>
              <li class="list-group-item">Aide Valeria Torres</li>
              <li class="list-group-item">Maheshwari Neelanolla</li>
              
            </ul>
            
          </div>
          <div class="col-md-2"></div>
      </div>

  </div>